<app-navbar></app-navbar>
<ng-container>

    <div>
        <div *ngIf="details.product.video">
            <video   class="mk1"  [loop]="true" [volume]="0" [autoplay]="true">
                <source  [src]="details.product.video">
               
               
           </video>
        </div>
        
       <div class="overlay"></div>
       <div class="title">
        <h1 style="font-size:50px;">{{details.product.title}}</h1>
         <div class="desc">
            <p >{{details.product.desc}}</p>
            <br>
            <h2>Price:₹ {{details.product.price}}</h2>

            <div class="flex flex-row p-3">
                <button class="bg-orange-400 w-[200px] h-[50px] p-3 rounded-full ml-[-18px] "  (click)="sendtocart(details.product.p_id,details.product.title,details.product.price)">Add to cart</button>
                <img src="https://cdn-icons-png.flaticon.com/256/833/833472.png" class="h-12 w-12 mt-1 ml-6">
            </div>
            
         </div>
       </div>
       </div>

    
</ng-container>
<ng-template #elseblock>
    loading..
</ng-template>