<app-navbar></app-navbar>
<div class="h-[100vh] w-[100vw] flex flex-row align-middle justify-center bg-gradient-to-br from-yellow-400 via-red-500 to-pink-500">
    <div class="h-[500px] w-[500px] flex flex-row bg-white align-middle justify-center mt-[100px] rounded-xl">
          <div class="mt-[40%]">
            <h1>Your total is {{total}}</h1>
            <button class="bg-purple-500 text-white w-32 p-3 rounded-lg"><a href="/products">Checkout</a></button>
          </div>
          
    </div>
</div>
