<div class="h-[50px] w-[100vw] flex flex-row justify-between bg-gradient-to-r from-blue-100 via-blue-200 via-white">
  <div class="IntroName">
      <h1 (click)="Home()" class="cursor-pointer">Pixel Paradise</h1>
  </div>

  <div class="flex flex-row ">
     <img src="https://cdn-icons-png.flaticon.com/256/49/49116.png" class="h-6 w-6 m-4  cursor-pointer hover:h-7 w-8 " (click)="logout()">
     <img src=" https://cdn-icons-png.flaticon.com/256/4400/4400629.png" class="h-6 w-6 m-4 cursor-pointer hover:h-7 w-8"  (click)="logout()">
     <img src="https://cdn-icons-png.flaticon.com/256/3144/3144456.png" class="h-6 w-6 m-4 cursor-pointer hover:h-7 w-8" (click)="cart()">

   
    
  </div>

</div>
